.grid {
  height: 606px;
  width: 606px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.square {
  height: 200px;
  width: 200px;
  max-width: 100%;
  border: solid black 1px;
}

.cockroach {
  background-image: url('cockroach.svg');
  background-size: cover;
}

